PREDICT PRICE OF USED CARS

data collection

In [275]:
import pandas as pd
df = pd.read_csv("used_car_dataset.csv")
df

,car_name,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,₹ 4.45 Lakh,"22,402 km",Petrol,Mumbai,2016
1,Maruti Suzuki Alto 800 Lxi,₹ 2.93 Lakh,"10,344 km",Petrol,Kolkata,2019
2,Tata Safari XZ Plus New,₹ 22.49 Lakh,"12,999 km",Diesel,Bangalore,2021
3,Maruti Suzuki Ciaz ZXI+,₹ 6.95 Lakh,"45,000 km",Petrol,Thane,2016
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],₹ 12 Lakh,"11,193 km",Petrol,Kolkata,2019
...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,₹ 3.6 Lakh,"42,158 km",Diesel,Kolkata,2015
2101,MINI Cooper Countryman Cooper D,₹ 22 Lakh,"68,862 km",Diesel,Hyderabad,2013
2102,Hyundai Verna 1.6 VTVT SX,₹ 8.38 Lakh,"37,622 km",Petrol,Chennai,2018
2103,Maruti Suzuki Ciaz VXi+ AT,₹ 6.75 Lakh,"64,726 km",Petrol,Mumbai,2017
2104,Hyundai Verna 1.6 VTVT SX,₹ 8.76 Lakh,"29,150 km",Petrol,Pune,2017

In [276]:
df["car_price_in_rupees"].value_counts()

₹ 4.75 Lakh     23
₹ 4.25 Lakh     20
₹ 6.5 Lakh      20
₹ 4.5 Lakh      18
₹ 6.75 Lakh     18
                ..
₹ 6.52 Lakh      1
₹ 9.31 Lakh      1
₹ 9.54 Lakh      1
₹ 12.13 Lakh     1
₹ 8.76 Lakh      1
Name: car_price_in_rupees, Length: 811, dtype: int64

data preprocessing

In [277]:
def price_to_num(x):
    parts = x.split()
    
    if len(parts) <2:
        return None
    
    try:
        val = float(parts[1].replace(",",""))
    except ValueError:
        return None
    
    
    if 'Lakh' in parts:
        return val * 100000  
    elif 'Crore' in parts:
        return val * 10000000  
    else:
        return int(val)

In [278]:
# converting price to number
df["car_price_in_num"] = df["car_price_in_rupees"].apply(price_to_num)
df = df.drop("car_price_in_rupees",axis="columns")

In [279]:
df

,car_name,kms_driven,fuel_type,city,year_of_manufacture,car_price_in_num
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,"22,402 km",Petrol,Mumbai,2016,445000.0
1,Maruti Suzuki Alto 800 Lxi,"10,344 km",Petrol,Kolkata,2019,293000.0
2,Tata Safari XZ Plus New,"12,999 km",Diesel,Bangalore,2021,2249000.0
3,Maruti Suzuki Ciaz ZXI+,"45,000 km",Petrol,Thane,2016,695000.0
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],"11,193 km",Petrol,Kolkata,2019,1200000.0
...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,"42,158 km",Diesel,Kolkata,2015,360000.0
2101,MINI Cooper Countryman Cooper D,"68,862 km",Diesel,Hyderabad,2013,2200000.0
2102,Hyundai Verna 1.6 VTVT SX,"37,622 km",Petrol,Chennai,2018,838000.0
2103,Maruti Suzuki Ciaz VXi+ AT,"64,726 km",Petrol,Mumbai,2017,675000.0
2104,Hyundai Verna 1.6 VTVT SX,"29,150 km",Petrol,Pune,2017,876000.0

In [280]:
def con_km(x):
    km = x.split()
    val = float(km[0].replace(",",""))
    return val

In [281]:
# convert km to number
df["driven_Km"] = df["kms_driven"].apply(con_km)
df.drop("kms_driven",axis="columns")

,car_name,fuel_type,city,year_of_manufacture,car_price_in_num,driven_Km
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,Petrol,Mumbai,2016,445000.0,22402.0
1,Maruti Suzuki Alto 800 Lxi,Petrol,Kolkata,2019,293000.0,10344.0
2,Tata Safari XZ Plus New,Diesel,Bangalore,2021,2249000.0,12999.0
3,Maruti Suzuki Ciaz ZXI+,Petrol,Thane,2016,695000.0,45000.0
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],Petrol,Kolkata,2019,1200000.0,11193.0
...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,Diesel,Kolkata,2015,360000.0,42158.0
2101,MINI Cooper Countryman Cooper D,Diesel,Hyderabad,2013,2200000.0,68862.0
2102,Hyundai Verna 1.6 VTVT SX,Petrol,Chennai,2018,838000.0,37622.0
2103,Maruti Suzuki Ciaz VXi+ AT,Petrol,Mumbai,2017,675000.0,64726.0
2104,Hyundai Verna 1.6 VTVT SX,Petrol,Pune,2017,876000.0,29150.0

In [282]:
df["fuel_type"].unique()

array(['Petrol', 'Diesel', 'Diesel + 1', 'Electric', 'CNG', 'Petrol + 1',
       'Hybrid', 'LPG'], dtype=object)

In [283]:
df["city"].unique()

array(['Mumbai', 'Kolkata', 'Bangalore', 'Thane', 'Chennai', 'Ahmedabad',
       'Pallikarnai', 'Hyderabad', 'Pune', 'Gurgaon', 'Delhi', 'Noida',
       'Faridabad', 'Thiruvallur', 'Ambattur', 'Poonamallee'],
      dtype=object)

In [284]:
df = df.drop("kms_driven", axis="columns")

In [285]:
df

,car_name,fuel_type,city,year_of_manufacture,car_price_in_num,driven_Km
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,Petrol,Mumbai,2016,445000.0,22402.0
1,Maruti Suzuki Alto 800 Lxi,Petrol,Kolkata,2019,293000.0,10344.0
2,Tata Safari XZ Plus New,Diesel,Bangalore,2021,2249000.0,12999.0
3,Maruti Suzuki Ciaz ZXI+,Petrol,Thane,2016,695000.0,45000.0
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],Petrol,Kolkata,2019,1200000.0,11193.0
...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,Diesel,Kolkata,2015,360000.0,42158.0
2101,MINI Cooper Countryman Cooper D,Diesel,Hyderabad,2013,2200000.0,68862.0
2102,Hyundai Verna 1.6 VTVT SX,Petrol,Chennai,2018,838000.0,37622.0
2103,Maruti Suzuki Ciaz VXi+ AT,Petrol,Mumbai,2017,675000.0,64726.0
2104,Hyundai Verna 1.6 VTVT SX,Petrol,Pune,2017,876000.0,29150.0

In [286]:
count_car = df["car_name"].value_counts()
count_car

Maruti Suzuki Wagon R 1.0 VXI        25
Maruti Suzuki Alto 800 Lxi           23
Maruti Suzuki Wagon R 1.0 LXI CNG    21
Maruti Suzuki Baleno Delta 1.2       18
Honda City V                         17
                                     ..
Ford Fiesta Exi 1.6 Duratec Ltd       1
Renault Triber RXZ                    1
BMW 7 Series 730Ld                    1
Nissan Sunny XL D                     1
Maruti Suzuki Ciaz VXi+ AT            1
Name: car_name, Length: 946, dtype: int64

In [287]:
def car_name_short(x):
    words = x.split()
    result = ' '.join(words[:1])
    return result

In [288]:
# reducing car name to reduce complexity
df["car_name"] = df["car_name"].apply(car_name_short)

In [289]:
count_car = df["car_name"].value_counts()
count_car

Maruti           567
Hyundai          443
Honda            225
Toyota            93
Tata              83
Mercedes-Benz     70
Ford              70
Renault           67
Mahindra          65
Volkswagen        63
Audi              62
BMW               56
Skoda             49
Kia               41
Jeep              30
MG                27
Land              20
Nissan            18
Volvo             13
Datsun            13
Jaguar             9
Chevrolet          6
Isuzu              4
MINI               4
Fiat               3
Porsche            2
Citroen            1
Bentley            1
Name: car_name, dtype: int64

In [290]:
df.head()

,car_name,fuel_type,city,year_of_manufacture,car_price_in_num,driven_Km
0,Hyundai,Petrol,Mumbai,2016,445000.0,22402.0
1,Maruti,Petrol,Kolkata,2019,293000.0,10344.0
2,Tata,Diesel,Bangalore,2021,2249000.0,12999.0
3,Maruti,Petrol,Thane,2016,695000.0,45000.0
4,Jeep,Petrol,Kolkata,2019,1200000.0,11193.0

In [291]:
dummies = pd.get_dummies(df.car_name)
df = pd.concat([df, dummies],axis=1)
dummies_2 = pd.get_dummies(df.fuel_type)
df = pd.concat([df, dummies_2],axis=1)
dummies_3 = pd.get_dummies(df.city)
df = pd.concat([df, dummies_3],axis=1)
df.head()

,car_name,fuel_type,city,year_of_manufacture,car_price_in_num,driven_Km,Audi,BMW,Bentley,Chevrolet,...,Gurgaon,Hyderabad,Kolkata,Mumbai,Noida,Pallikarnai,Poonamallee,Pune,Thane,Thiruvallur
0,Hyundai,Petrol,Mumbai,2016,445000.0,22402.0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Maruti,Petrol,Kolkata,2019,293000.0,10344.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,Tata,Diesel,Bangalore,2021,2249000.0,12999.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Maruti,Petrol,Thane,2016,695000.0,45000.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,Jeep,Petrol,Kolkata,2019,1200000.0,11193.0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

feature selection

In [292]:
x = df.drop(["car_price_in_num","city","fuel_type","car_name"], axis=1)
x

,year_of_manufacture,driven_Km,Audi,BMW,Bentley,Chevrolet,Citroen,Datsun,Fiat,Ford,...,Gurgaon,Hyderabad,Kolkata,Mumbai,Noida,Pallikarnai,Poonamallee,Pune,Thane,Thiruvallur
0,2016,22402.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2019,10344.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2021,12999.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2016,45000.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2019,11193.0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100,2015,42158.0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
2101,2013,68862.0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2102,2018,37622.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2103,2017,64726.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2104,2017,29150.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [293]:
y = df["car_price_in_num"]
y

0        445000.0
1        293000.0
2       2249000.0
3        695000.0
4       1200000.0
          ...
2100     360000.0
2101    2200000.0
2102     838000.0
2103     675000.0
2104     876000.0
Name: car_price_in_num, Length: 2105, dtype: float64

LINEAR REGRESSION

data splitting

In [294]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

model selection

In [295]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

model training

In [296]:
linear = LinearRegression()
linear.fit(x_train,y_train)
linear.score(x_test,y_test)

0.5835664615965117

evaluate model

In [297]:
score = cross_val_score(LinearRegression(),x,y,cv=5)
score.mean()

0.6009000488145881

In [298]:
#random subset

from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=LinearRegression(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.6134941721815699

In [299]:
y_pre = linear.predict(x_test)
y_pre

array([ 6.74427491e+05,  1.83351143e+05,  4.29028896e+05,  3.81185444e+05,
        1.05728485e+06,  1.15998046e+06,  2.85836496e+05,  8.17112652e+05,
        4.23413646e+05,  6.72846561e+05,  2.49529151e+06,  2.29581611e+05,
       -1.35715211e+05,  5.91494218e+05, -2.92416513e+04,  1.18065419e+06,
        8.24022350e+05,  3.94522606e+05,  3.65403451e+05,  7.52522879e+05,
        8.35560438e+05,  2.43467960e+06,  5.88325024e+05,  7.47350528e+05,
        7.73200827e+05,  3.22203871e+05,  1.09808013e+05,  2.68047740e+05,
        9.80044581e+05,  4.73856938e+05,  8.68632809e+05,  9.00470304e+05,
        1.05026206e+06,  1.47770186e+06,  2.55263052e+06,  7.17048101e+05,
        4.73476675e+05,  5.46304314e+05,  1.01502059e+06,  8.13961986e+05,
        4.18267502e+05,  1.23564383e+06,  9.97313534e+05,  1.46364942e+06,
        4.76473824e+05,  7.05716988e+05,  2.93907670e+06,  6.99963404e+05,
        2.15814915e+06,  1.99115641e+05,  1.18291794e+06,  4.47633095e+05,
        7.78891843e+05,  3.94594684e+05,  1.46169048e+06,  5.13671884e+05,
        6.23926234e+05,  1.06806331e+06,  1.15314322e+06,  2.01321027e+06,
        1.02104319e+06,  1.23608747e+06,  9.11567292e+05,  3.38421964e+05,
        5.75437261e+05,  1.13529357e+06,  8.66792226e+05, -1.12087827e+05,
        1.01060937e+06,  1.09473313e+06,  3.60972435e+05,  8.35413643e+05,
        3.57623377e+06,  3.67659315e+06,  7.22959506e+05,  1.34242055e+06,
        2.86107842e+06,  2.12535806e+06,  1.45123407e+04,  1.03353856e+06,
        3.41658855e+06,  6.90013704e+05,  1.47719583e+06,  1.49805912e+05,
        2.98446556e+06,  1.97616173e+05,  3.83596366e+06,  2.14505614e+05,
        4.81193771e+05,  1.17476831e+06,  1.65312612e+06,  1.58059606e+06,
        2.11715537e+06,  1.07601833e+05,  4.23777459e+05,  1.50938307e+06,
        5.58615139e+06,  1.18016666e+06,  1.13329496e+06,  3.36397785e+05,
        1.45595818e+06,  2.32911688e+06,  7.18325564e+05,  4.04439221e+05,
        8.21832723e+05,  2.13769989e+05,  2.51080922e+06,  7.18673497e+05,
       -1.03273105e+05,  7.51871233e+05,  4.02301076e+05,  4.59374974e+05,
        1.22187484e+06,  8.01434828e+05,  2.62284837e+06,  6.12908062e+05,
        3.17177046e+05,  4.46607300e+05,  6.20491000e+05,  1.03493534e+06,
        1.80150960e+06,  1.47787449e+06,  3.77974397e+05,  2.65571355e+05,
        2.78826747e+05,  8.19060163e+05,  3.76658328e+06,  3.75894588e+05,
        1.02994152e+06,  9.30495549e+05,  1.23421946e+06,  1.01570124e+06,
        7.74802624e+05,  1.06818466e+06,  1.22855990e+06,  3.84948304e+05,
        1.08916512e+06,  7.82737066e+05,  8.21102769e+05,  2.90679006e+05,
        7.29245616e+05,  8.77411999e+05,  7.55224998e+05, -4.77087350e+05,
        1.14186935e+06,  7.68508858e+05,  2.39090340e+06,  8.16104753e+05,
        1.19188105e+06,  8.26110206e+05,  1.05139159e+06,  7.31384782e+05,
        3.53354571e+05,  1.88574891e+05, -3.26065399e+04,  5.88175786e+05,
        1.89495362e+05,  4.02774269e+05,  1.38689737e+05,  1.94727340e+06,
        1.02029689e+06,  2.12495860e+06,  7.86353747e+05,  5.47480849e+06,
        1.36646747e+05,  4.43507671e+05,  1.11153979e+06,  7.26266395e+05,
        5.63691787e+06,  5.06049986e+06,  1.85087668e+05,  2.10741535e+06,
        3.61282298e+05,  3.86162252e+05,  4.23777459e+05,  2.93873395e+05,
        1.57399232e+05, -8.79385797e+04,  2.50746618e+06,  5.48622121e+06,
        3.14750310e+06,  8.50746655e+05,  1.13494100e+06, -2.08182556e+05,
        7.22514879e+05,  1.89292244e+06,  6.14282735e+05,  7.03357695e+05,
        3.32016863e+05,  9.93760486e+05,  2.38344973e+06,  1.39217709e+06,
        4.39834670e+05, -2.62888258e+05,  2.21621927e+06,  8.85189294e+05,
       -1.27972902e+05, -1.93678990e+05,  1.19039181e+06,  4.22407395e+06,
        7.94680962e+05,  1.07117023e+06,  9.87379170e+05,  6.53743529e+05,
        3.02912903e+05,  1.88329610e+06,  5.86897703e+05,  7.37901535e+05,
        5.20802505e+05,  7.64735403e+05,  1.05548510e+06,  5.93481218e+05,
        8.12813547e+05,  4.22951348e+05,  3.98253854e+05,  7.58646327e+05,
        7.24923689e+05,  3.66608064e+06,  2.33863591e+06,  4.73324054e+05,
        3.70123500e+05,  7.58996198e+05,  4.03025197e+05,  1.27532889e+06,
        1.04810780e+06,  1.59097836e+06,  2.41047630e+06,  1.53136894e+06,
        1.10321964e+06,  3.10668686e+06,  2.77696025e+05,  7.02973537e+05,
       -1.80231534e+05,  1.25773618e+06,  3.62189737e+05,  1.14037107e+06,
        6.48346529e+05,  1.01833657e+06,  5.38432794e+05,  6.42055070e+05,
        7.22507147e+05,  6.79655435e+05,  6.77156793e+05,  3.40426574e+05,
        4.12519982e+05,  1.03493274e+06,  5.17855425e+05,  5.54030016e+05,
        4.00013417e+05,  2.26858213e+06,  5.82632948e+03,  7.88003128e+05,
        1.85554897e+06,  1.56121899e+05,  8.22084497e+05,  3.46659716e+05,
        1.56579812e+05,  7.25421567e+05,  4.61456247e+05,  6.40543967e+05,
        1.93361434e+06,  1.77638167e+06,  3.28739090e+06,  1.16994119e+06,
       -8.37848020e+04,  3.13862165e+05,  8.18360213e+05,  5.74423244e+06,
        6.24623681e+05,  1.02006613e+06,  5.94314045e+05,  1.07234927e+06,
        1.20336342e+06,  3.66169444e+06,  8.18421254e+05,  2.31067511e+06,
        8.63833752e+05,  3.71597598e+06,  3.84296781e+05,  4.60115647e+05,
        7.45143940e+05,  1.05920604e+06,  6.53518550e+05,  3.72893062e+06,
        4.70060643e+05,  5.63036369e+06,  7.26367490e+05, -2.18109564e+05,
        8.00036025e+05,  4.00393036e+05,  8.68431385e+05,  8.71868873e+05,
        5.02208505e+05,  7.75963884e+05,  2.10206974e+06,  6.01606866e+05,
        2.28838790e+06,  1.02182495e+06,  2.25498777e+06, -6.05173174e+04,
        7.64718434e+05,  5.20632786e+05,  4.54920599e+05,  1.03155586e+06,
        6.63343681e+05,  7.82728795e+05,  7.30057205e+05,  6.60189580e+05,
       -1.05610564e+06,  3.23941026e+06,  1.12160771e+06,  7.88880574e+05,
        3.76423050e+06,  1.06930729e+06,  4.90915983e+05,  6.03978831e+05,
        2.97167780e+06,  3.12005214e+06,  1.34931279e+06,  2.12851054e+06,
        1.16222328e+06,  1.47645164e+06,  1.42136808e+06,  4.03178992e+05,
       -1.88888235e+05,  2.23921461e+06,  9.00775907e+05,  9.47962705e+05,
        1.02718576e+05,  7.37198310e+05,  1.45123407e+04, -8.23070458e+04,
       -5.64744264e+04,  8.31011055e+05,  3.55575083e+05,  1.37784812e+06,
        2.75890751e+06,  6.06307524e+05,  1.03645464e+06,  1.24123110e+06,
       -2.60129892e+05,  4.43714451e+04,  6.84385860e+05,  8.89004987e+05,
        3.29949585e+05,  3.45410585e+06, -8.21087697e+03,  6.91118962e+05,
        9.30153464e+05,  3.94776978e+06,  6.16436009e+05,  1.80429222e+06,
        1.01752582e+06,  5.44414635e+06,  5.39547633e+05,  3.52140438e+06,
        9.67293292e+05,  8.05210756e+05,  1.82845168e+06,  5.05377230e+05,
        8.20595169e+05,  3.75298355e+04,  6.61877019e+05,  1.06580025e+07,
        3.74553058e+06,  2.33724198e+06,  4.95803176e+05,  1.07550166e+06,
        7.80544194e+05,  1.20432880e+06,  4.48585575e+05,  7.07058205e+05,
        3.23343419e+06, -5.29266551e+04,  6.67389948e+05,  8.98821753e+05,
        1.03357170e+06,  1.00801439e+06,  7.01538986e+05,  1.64175652e+06,
        4.02532019e+05,  1.45243049e+05,  6.20850742e+05,  1.05737904e+06,
        1.46479706e+06,  5.44342503e+05,  1.15027022e+06,  4.91936695e+05,
        5.49222723e+05,  3.07469857e+05,  1.39662048e+06,  3.06913797e+05,
        6.94282099e+05,  1.02042978e+06,  1.44425950e+06,  3.23479050e+05,
        1.59157994e+06,  9.21378513e+04,  1.17146837e+06,  7.31549848e+05,
        1.58072023e+06,  1.05477110e+06,  9.63858840e+05,  2.09494218e+06,
        1.13944140e+06,  1.01811102e+06,  1.38138573e+05,  2.66135139e+06,
        3.95981946e+05,  3.34236287e+02,  2.79252250e+05,  6.44836237e+05,
        1.02007423e+06,  3.88656909e+05,  8.87058020e+05,  9.52017880e+05,
        1.08403648e+06,  7.91500476e+05, -1.71694064e+05,  1.91461226e+06,
        5.61390265e+05])

In [300]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pre)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 1301448667534.2812

DECISION TREE

model selection

In [301]:
from sklearn.tree import DecisionTreeRegressor
dtree = DecisionTreeRegressor()

model training

In [302]:
dtree.fit(x_train,y_train)

DecisionTreeRegressor()

evaluate model

In [303]:
dtree.score(x_test,y_test)

0.5628958217512887

In [304]:
score = cross_val_score(DecisionTreeRegressor(),x,y,cv=5)
score.mean()

0.3637709658602295

In [305]:
from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=DecisionTreeRegressor(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.6899835089799402

In [306]:
y_pre = dtree.predict(x_test)
y_pre

array([  988000.,   300000.,   535000.,   482000.,   983000.,  1200000.,
         304000.,   895000.,   357000.,   609000.,  1575000.,   525000.,
         246000.,   690000.,   255000.,  1130000.,   910000.,   471000.,
         395000.,   895000.,  1045000.,  2475000.,   565000.,   895000.,
        1097000.,   305000.,   575000.,   468000.,  2475000.,   538000.,
         675000.,   862000.,   925000.,  1050000.,  2751000.,   425000.,
         439000.,  1600000.,   402000.,   960000.,   499000.,  1465000.,
         654000.,  2095000.,   445000.,   538000.,  4299000.,   369000.,
        1925000.,   200000.,  1130000.,   525000.,   465000.,   525000.,
        1675000.,   425000.,   445000.,   733000.,   730000.,  1700000.,
        1179000.,  1511000.,   750000.,   370000.,   490000.,   666000.,
         721000.,   325000.,   731000.,   623000.,   405000.,  1350000.,
        3275000.,  2559000.,   897000.,  1045000.,  1550000.,  1350000.,
         234000.,  1044000.,  3899000.,   600000.,  1137000.,   341000.,
        1350000.,   359000.,  2175000.,   250000.,   445000.,  1465000.,
        1700000.,  3595000.,  3900000.,   385000.,   639000.,   960000.,
        5999000.,  1045000.,  1450000.,   267000.,   650000.,  1099000.,
         675000.,   315000.,   495000.,   357000.,  1490000.,   750000.,
         290000.,   610000.,   451000.,   565000.,  1125000.,   685000.,
        1875000.,   615000.,   350000.,   389000.,   558000.,   699000.,
         450000.,  1850000.,   369000.,   250000.,   314000.,   862000.,
        5500000.,   471000.,  1465000.,   992000.,   842000.,   895000.,
         925000.,  1156000.,  1125000.,   378000.,   785000.,   530000.,
         871000.,   498000.,   750000.,   486000.,   975000.,   200000.,
         925000.,   475000.,  1659000.,   641000.,   925000.,   440000.,
         839000.,   747000.,   295000.,   298000.,   390000.,   686000.,
         300000.,   465000.,   446000.,  1700000.,   941000.,   660000.,
         890000.,  7899000.,   385000.,   687000.,  1450000.,   747000.,
        7700000.,  2250000.,   685000.,  1975000.,   420000.,   250000.,
         639000.,   435000.,   406000.,   595000.,  2288000.,  7899000.,
        4299000.,   724000.,   862000.,  1400000.,   575000.,  1465000.,
         475000.,   524000.,   320000.,   486000.,  1650000.,  1895000.,
         595000.,   500000.,   880000.,   765000.,   445000.,   390000.,
        1130000.,  4900000.,   630000.,   733000.,   730000.,   299000.,
         384000.,   450000.,   565000.,   855000.,   525000.,   245000.,
        1050000.,   610000.,   350000.,   525000.,   451000.,  1023000.,
         739000.,  2700000.,   889000.,   538000.,   575000.,   460000.,
         465000.,   425000.,   550000.,  1574000.,  1550000.,   941000.,
         778000.,  3050000.,   445000.,   575000.,   325000.,  4850000.,
         430000.,   685000.,   790000.,   669000.,   450000.,   534000.,
         491000.,   490000.,   675000.,   799000.,   351000.,   529000.,
         491000.,   675000.,   336000.,  3950000.,   390000.,   679000.,
        1550000.,   325000.,   745000.,   320000.,   446000.,   897000.,
         425000.,   479000.,  1341000.,  1925000.,  2180000.,  2145000.,
         276000.,   295000.,   711000.,  5999000.,   534000.,   476000.,
         498000.,   785000.,  3189000.,  2426000.,   699000.,  2150000.,
         349000.,  4300000.,   599000.,   425000.,   551000.,   725000.,
         295000.,  3800000.,   621000.,  4950000.,  1125000.,   276000.,
        1125000.,   521000.,   721000.,   325000.,   486000.,   680000.,
        1350000.,   615000.,  1500000.,   925000.,  4300000.,   223000.,
        1137000.,   304000.,   450000.,  1145000.,   569000.,   769000.,
         369000.,   570000.,  2750000.,  3775000.,  1875000.,   729000.,
        3899000.,   389000.,   542000.,   750000.,  2099000.,  3050000.,
        1125000.,   789000.,  1145000.,  1200000.,   890000.,   465000.,
         245000.,  2450000.,   594000.,   785000.,   345000.,   740000.,
         234000.,  1400000.,   250000.,   685000.,   575000.,  1699000.,
        1790000.,   414000.,   570000.,   945000.,   245000.,   245000.,
         899000.,   610000.,   690000.,  2175000.,   370000.,   575000.,
         695000.,  3250000.,   524000.,  1925000.,   476000.,  4950000.,
         775000.,  2559000.,   825000.,   970000.,  3950000.,   465000.,
         490000.,   245000.,   779000., 11500000.,  2800000.,  3299000.,
         475000.,   785000.,   770000.,  1400000.,   790000.,   425000.,
        2559000.,   391000.,   862000.,   770000.,  1175000.,   660000.,
         475000.,  1851000.,   534000.,   515000.,   425000.,   862000.,
         540000.,   645000.,   954000.,   658000.,   490000.,   549000.,
        2249000.,  1125000.,   680000.,   895000.,   814000.,   267000.,
        1600000.,   240000.,   832000.,   585000.,  1040000.,   565000.,
        1150000.,  1825000.,   441000.,   699000.,   400000.,  2099000.,
         349000.,   387000.,   690000.,   790000.,   476000.,   378000.,
         779000.,   675000.,   925000.,   729000.,   325000.,  2649000.,
         880000.])

In [307]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pre)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 1366049076009.5012

RANDOM FORSET

model selection

In [308]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

model training

In [309]:
rf.fit(x_train,y_train)

RandomForestRegressor()

evaluate model

In [310]:
rf.score(x_test,y_test)

0.6335791527671959

In [311]:
score = cross_val_score(RandomForestRegressor(),x,y,cv=5)
score.mean()

0.6152783001627327

In [312]:
from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=DecisionTreeRegressor(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.6899835089799402

In [313]:
y_pre = rf.predict(x_test)
y_pre

array([ 644050.,  435210.,  556870.,  445970., 1088610., 1291690.,
        351680.,  821650.,  386620.,  691070., 1121410.,  533670.,
        316620.,  647290.,  285630.,  882670.,  914120.,  445790.,
        450760.,  998560.,  765850., 2085710.,  637730., 1051040.,
        849680.,  346890.,  557100.,  482140., 1273350.,  561630.,
        746820.,  714900.,  991690., 1242990., 2313200.,  601380.,
        443560.,  612020.,  444380., 1235070.,  458560., 1563820.,
       1113780., 1563770.,  473780.,  567440., 3508580.,  632330.,
       1796600.,  242280.,  889360.,  529060.,  653870.,  549810.,
       1999600.,  510400.,  412640.,  700050.,  898950., 1867680.,
        941060., 1026980.,  808530.,  425990.,  770030.,  793700.,
        784170.,  355470.,  790390., 1293710.,  411690.,  944910.,
       3377480., 2844100.,  726920., 1273820., 1562680., 1680990.,
        256680.,  881950., 3575850.,  520710., 1547990.,  345560.,
       2020020.,  457690., 4338290.,  361940.,  452590., 1583360.,
       1592950., 3246420., 3151040.,  403850.,  533890., 1586750.,
       9189450.,  906330., 1215520.,  363090., 1711530., 1034020.,
        818090.,  403130.,  631130.,  375890., 1698290.,  735570.,
        308520.,  837800.,  492630.,  555050., 1072800.,  773880.,
       1493600.,  606690.,  408060.,  487070.,  547320.,  662000.,
        978650., 1251140.,  517720.,  400220.,  422540.,  789780.,
       4961460.,  470950., 1096760.,  732640., 1044750.,  877200.,
        683120.,  942540.,  893100.,  366680., 1059470.,  589510.,
        517020.,  483790.,  656930.,  864990.,  707120.,  222950.,
       1128950.,  527350., 1518760.,  593940.,  971980.,  575190.,
        811510.,  721150.,  388040.,  333220.,  339680.,  624190.,
        394720.,  393710.,  460330., 1806240., 1183310., 1395710.,
        968220., 7786100.,  361610.,  625080., 1245040.,  721500.,
       7524170., 2439390.,  351660., 2485450.,  458950.,  505740.,
        533890.,  537900.,  429430.,  538880., 2019970., 7570670.,
       3538870.,  712560.,  764540.,  843930.,  547180., 1736390.,
        592820.,  621220.,  424490.,  786960., 1784720., 1837910.,
        509690.,  430070., 1633940.,  743830.,  384070.,  375350.,
        859330., 5187730.,  677850.,  704710.,  799150.,  445760.,
        417210., 1047870.,  585570.,  663110.,  666030.,  320390.,
        903390.,  558540.,  524190.,  537880.,  484770., 1100110.,
        780270., 3033240., 1011630.,  560460.,  489460.,  577730.,
        391610.,  829100.,  586610., 1504940., 1804300., 1529360.,
        836520., 4207760.,  442170.,  582200.,  284690., 3183760.,
        426920.,  854050.,  764450.,  657840.,  486110.,  591370.,
        444270.,  487420.,  673910.,  575650.,  362900.,  548260.,
        468910.,  541290.,  359070., 2914520.,  359870.,  643790.,
       1995200.,  351910.,  761100.,  346700.,  448970.,  680810.,
        475580.,  485710., 1777780., 1576530., 3417000., 1916720.,
        264710.,  423870.,  738430., 9159450.,  542700.,  787630.,
        617600., 1013450., 2690230., 2484770.,  746650., 2466670.,
        486710., 4980700.,  609250.,  482160.,  661590.,  707320.,
        457310., 3740440.,  571720., 4636940.,  890390.,  275780.,
        791540.,  580670.,  769720.,  319840.,  627190.,  650320.,
       1751490.,  640280., 1795520.,  888310., 1634660.,  267490.,
        737850.,  372360.,  491450.,  852420.,  762470.,  751150.,
        633980.,  547880., 3489440., 2919880., 1226740.,  754080.,
       3655450.,  671920.,  489660.,  679910., 2152390., 3409610.,
       1429760., 1114560.,  906850., 1302860., 1234960.,  391610.,
        275860., 2522090.,  786260.,  890920.,  297240.,  693350.,
        256680.,  901480.,  278840.,  807360.,  525950., 1454100.,
       1855820.,  737110.,  737170.,  909840.,  298240.,  283340.,
        655100.,  624400.,  485220., 2895430.,  405580.,  729050.,
        598170., 3489940.,  581050., 1875480.,  524510., 4542170.,
        647560., 2972030.,  839460.,  779760., 2049010.,  479860.,
        542530.,  327560.,  706830., 7505810., 3385880., 2595850.,
        510930., 1212780., 1063320., 1013370.,  651880.,  580170.,
       2634980.,  391500.,  856240.,  744400.,  787840., 1037670.,
        780150., 1805470.,  503090.,  349860.,  551770.,  706530.,
        752750.,  652250.,  931230.,  536340.,  576270.,  491760.,
       2045480.,  869830.,  607650.,  820760., 1284700.,  365460.,
       1467670.,  300190., 1343890.,  658720., 1235750.,  720000.,
       1041860., 1814370.,  641410.,  760510.,  439510., 1107480.,
        408830.,  422140.,  651180.,  747540.,  787630.,  372330.,
        759660.,  854530., 1091340.,  750680.,  311280., 2128670.,
       1141890.])

In [314]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pre)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 1145147735257.2446

KNN

model selection

In [315]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=100)

model training

In [316]:
knn.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=100)

evaluate model

In [317]:
knn.score(x_test,y_test)

0.004126700179766796

In [318]:
score = cross_val_score(KNeighborsRegressor(n_neighbors=100),x,y,cv=5)
score.mean()

0.013943157289041963

In [319]:
from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=KNeighborsRegressor(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

-0.02631763059283876

In [320]:
knn.predict(x_test)

array([1950570.  , 1016960.  ,  979680.  , 1272209.91, 1099660.  ,
        977880.  ,  828070.  , 1138210.  , 1067120.  , 1086279.91,
       1714370.  ,  895720.  ,  975180.  ,  956150.  ,  902840.  ,
       1210840.  , 1054370.  , 1190030.  ,  982920.  ,  881560.  ,
       1198730.  , 1575330.  , 1323260.  ,  875550.  ,  888750.  ,
        827570.  ,  982920.  ,  903000.  , 1030450.  , 1054370.  ,
       1131710.  , 1164030.  , 1058410.  , 1134130.  , 1196280.  ,
       1151240.  , 1216250.  ,  988580.  , 1939110.  , 1108690.  ,
        922350.  , 1232110.  ,  910130.  , 1067120.  ,  868260.  ,
       1100489.91, 1384840.  ,  806350.  , 1939110.  , 1088780.  ,
       1163960.  ,  864290.  , 1092350.  ,  869290.  , 1205499.91,
       1196280.  ,  920100.  , 1155860.  , 1192400.  , 1301980.  ,
        876900.  , 1123210.  ,  920100.  , 1027800.  , 1045490.  ,
       1158930.  ,  839390.  ,  897480.  , 1103480.  , 1090979.91,
        945980.  ,  841420.  ,  778260.  , 1173520.  , 1201820.  ,
        960760.  , 1040500.  ,  975690.  ,  828890.  ,  822790.  ,
       1060630.  , 1028950.  , 1559410.  , 1363380.  , 1236460.  ,
       1091800.  , 1366040.  , 1091800.  , 1043370.  ,  959930.  ,
       1164030.  , 1086279.91, 1043370.  ,  846650.  , 1037290.  ,
        979790.  , 1143100.  , 1149750.  ,  867280.  , 1258330.  ,
       1088780.  , 1037630.  , 1190690.  , 1198730.  ,  819640.  ,
       1397240.  ,  941400.  , 1222690.  ,  831780.  , 1191340.  ,
       1196280.  , 1138210.  ,  935820.  ,  982640.  , 1939110.  ,
        960700.  ,  825470.  , 1226250.  , 1035370.  , 1737650.  ,
        984340.  ,  991680.  ,  966910.  , 1085420.  , 1098040.  ,
       1198240.  , 1020600.  , 1163329.91, 1234520.  , 1314640.  ,
       1022150.  ,  876900.  , 1167250.  , 1185340.  ,  821840.  ,
        830990.  , 1714370.  , 1190980.  ,  832740.  , 1081260.  ,
       1083960.  ,  893960.  ,  878070.  , 1088780.  ,  861340.  ,
        873140.  , 1029730.  , 1188449.91, 1026060.  ,  958060.  ,
       1216350.  , 1342459.91,  926290.  , 1157440.  ,  988540.  ,
       1067120.  , 1026370.  , 1247700.  ,  810340.  , 1114710.  ,
       1222690.  ,  797860.  ,  854850.  , 1313549.91,  882770.  ,
        935470.  ,  871780.  , 1085710.  , 1737760.  , 1088780.  ,
       1068110.  ,  816110.  , 1041660.  , 1202400.  , 1037290.  ,
       1071049.91,  924410.  ,  961880.  ,  923390.  , 1131650.  ,
       1185170.  , 1153710.  , 1198730.  , 1028950.  , 1327390.  ,
       1241520.  ,  927610.  ,  863200.  , 1029240.  ,  876060.  ,
        861950.  , 1188449.91,  917360.  , 1029620.  ,  873140.  ,
       1194600.  , 1064390.  , 1022340.  , 1243220.  ,  930170.  ,
       1067120.  , 1152080.  , 1068390.  ,  930140.  ,  935820.  ,
        852910.  , 1358330.  ,  825470.  ,  922330.  ,  845540.  ,
       1022870.  , 1239970.  , 1194600.  ,  861950.  ,  881290.  ,
        839020.  ,  812260.  ,  959490.  , 1179970.  , 1073100.  ,
        790150.  , 1221380.  , 1243840.  , 1028950.  , 1034140.  ,
        968340.  , 1088780.  , 1340150.  , 1751210.  , 1230520.  ,
        890270.  ,  837590.  , 1027930.  , 1939110.  , 1162170.  ,
        889060.  ,  888880.  , 1029730.  , 1293289.91, 1175269.91,
        861340.  ,  942290.  ,  830030.  ,  927440.  , 1169950.  ,
        845430.  ,  866150.  ,  962310.  , 1045950.  ,  989280.  ,
        861950.  , 1167250.  , 1145930.  ,  927440.  , 1188009.91,
       1067120.  ,  984370.  , 1180140.  ,  931810.  , 1109070.  ,
       1159740.  , 1823120.  , 1175330.  , 1080420.  , 1071920.  ,
       1085510.  ,  989130.  ,  985090.  , 1109190.  , 1939110.  ,
       1939110.  , 1162429.91, 1108050.  , 1227710.  , 1196220.  ,
       1314640.  , 1182610.  ,  867420.  ,  826100.  , 1226250.  ,
        837860.  , 1146340.  , 1313549.91,  954050.  , 1183869.91,
       1384840.  ,  838180.  , 1151240.  , 1161440.  ,  864880.  ,
        821840.  ,  991680.  , 1010320.  ,  994820.  ,  923390.  ,
       1076190.  ,  873180.  ,  871190.  ,  843070.  , 1094869.91,
        843670.  ,  930140.  , 1026370.  , 1289130.  ,  942210.  ,
       1029240.  , 1192880.  , 1039760.  , 1054730.  , 1574020.  ,
       1939110.  , 1140500.  , 1104760.  , 1196000.  , 1314640.  ,
        891670.  , 1187740.  , 1095590.  , 1120560.  , 1751210.  ,
       1339490.  , 1195369.91,  793240.  , 1236050.  ,  960810.  ,
        886730.  ,  821330.  ,  985090.  , 1039690.  , 1095410.  ,
        828890.  , 1059420.  ,  850410.  ,  897480.  , 1022150.  ,
       1151240.  , 1058460.  ,  858890.  , 1259069.91,  985720.  ,
        968750.  , 1235710.  , 1161440.  ,  920100.  , 1132470.  ,
        873550.  , 1002390.  ,  868370.  ,  857860.  ,  907590.  ,
        821820.  , 1204610.  , 1939110.  , 1111600.  ,  895720.  ,
       1209570.  ,  972940.  , 1052320.  ,  928660.  ,  991680.  ,
        927440.  ,  936340.  , 1230670.  , 1314640.  , 1342459.91,
        942690.  , 1160380.  , 1191340.  ,  856230.  , 1049410.  ,
        861340.  ,  935820.  , 1048070.  , 1060880.  , 1113160.  ,
        821820.  ,  930170.  ,  937010.  , 1027700.  , 1171369.91,
        895790.  ,  891490.  , 1348090.  , 1168020.  ,  904080.  ,
        823630.  ,  878100.  , 1111880.  , 1071920.  , 1100489.91,
       1305410.  , 1022340.  ,  878070.  ,  821840.  , 1030960.  ,
       1074070.  , 1198240.  , 1088780.  , 1232309.91,  891490.  ,
        920980.  ,  933620.  ,  939730.  , 1086279.91, 1206960.  ,
       1185950.  , 1236910.  , 1228110.  ,  915990.  , 1247700.  ,
        960810.  ,  877450.  , 1939110.  ,  919610.  ,  830270.  ,
       1173520.  ,  988540.  , 1104040.  , 1187740.  , 1035950.  ,
        925670.  ])

In [321]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pre)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 1145147735257.2446

SVR

model selection

In [322]:
from sklearn.svm import SVR
svm = SVR()

model training

In [323]:
svm.fit(x_train,y_train)

SVR()

evaluate model

In [324]:
svm.score(x_test,y_test)

-0.09407562641250355

In [325]:
score = cross_val_score(SVR(),x,y,cv=5)
score.mean()

-0.10653642438942565

In [326]:
from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=SVR(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

-0.11166981664258735

In [327]:
svm.predict(x_test)

array([695573.29145237, 695467.21512853, 695487.92362182, 695518.23629516,
       695488.85309064, 695488.18240605, 695460.09018713, 695547.60768236,
       695531.23482268, 695525.75644919, 695570.38909574, 695443.92075152,
       695444.24105157, 695487.35377842, 695446.15512181, 695544.99924766,
       695531.93120892, 695557.0498571 , 695444.7440527 , 695451.17751338,
       695512.07462657, 695567.15035831, 695540.69115737, 695447.35903022,
       695445.43299069, 695457.48338251, 695444.74405279, 695447.32897195,
       695453.39955088, 695531.89948108, 695547.65975774, 695494.48888075,
       695458.16105074, 695548.41646152, 695471.29978313, 695476.49112209,
       695559.62476836, 695448.2298119 , 695574.85500847, 695496.80740428,
       695447.1795504 , 695473.32042593, 695449.46266959, 695531.23482491,
       695444.05970827, 695524.66172092, 695539.03366164, 695459.69484385,
       695576.77357622, 695517.14040167, 695548.99470936, 695443.94664274,
       695528.64601804, 695444.14514087, 695517.05385181, 695471.29978357,
       695446.36596281, 695547.32553799, 695549.2394535 , 695541.29021283,
       695450.83629407, 695545.87421916, 695446.36596684, 695453.60201319,
       695450.45216392, 695493.58371952, 695453.71047154, 695447.83374462,
       695527.3918182 , 695525.55889275, 695443.9080584 , 695503.92869012,
       695455.91913726, 695548.81248364, 695556.26516146, 695443.90232375,
       695476.2586498 , 695444.25399881, 695505.08047297, 695452.86424743,
       695531.63756232, 695479.78401528, 695566.74308704, 695537.75781098,
       695473.5036383 , 695510.23899878, 695537.50140149, 695510.24450716,
       695532.30629083, 695467.10104448, 695494.48888117, 695525.87547102,
       695532.29309876, 695448.57902502, 695470.33450722, 695499.11944883,
       695495.43494054, 695511.50397123, 695452.19925835, 695555.95377196,
       695523.719494  , 695470.43726569, 695513.55240283, 695512.1738734 ,
       695452.92308259, 695542.22972592, 695445.82589749, 695549.17657998,
       695453.96713615, 695475.77270333, 695471.29978464, 695547.58163223,
       695461.23689931, 695448.27765149, 695576.45396706, 695499.51643939,
       695457.96048679, 695472.66494583, 695460.17261457, 695569.2054151 ,
       695444.43654988, 695444.13753518, 695466.60880173, 695470.73573146,
       695530.35272265, 695556.75274785, 695467.71236281, 695522.87735558,
       695473.62677778, 695561.68884809, 695445.32609196, 695450.83629237,
       695492.64029532, 695560.53933017, 695453.51096092, 695457.62394289,
       695570.31218062, 695513.21604792, 695458.70796226, 695469.79345597,
       695469.60072506, 695449.30398944, 695485.07361644, 695520.8553339 ,
       695444.02781317, 695454.89859524, 695480.68078591, 695515.39903019,
       695469.8105728 , 695443.89851535, 695545.44001615, 695519.8641212 ,
       695446.50060709, 695544.48364205, 695443.97410661, 695531.25338817,
       695458.48295004, 695474.63023625, 695459.39196272, 695557.66910013,
       695549.15794228, 695458.87928932, 695447.60198202, 695520.42867837,
       695484.85540073, 695507.154364  , 695444.25225599, 695509.41819598,
       695567.9909741 , 695523.31770036, 695531.16055497, 695446.86868775,
       695454.29190282, 695511.99742574, 695470.33450722, 695526.51851072,
       695446.40582779, 695444.49064709, 695463.20146368, 695491.06904374,
       695550.4350459 , 695547.99050313, 695512.08841116, 695480.2572056 ,
       695543.33483151, 695475.08306612, 695506.0343145 , 695456.63579458,
       695480.4921359 , 695448.72003073, 695444.2217486 , 695515.39903253,
       695443.90035335, 695445.18906976, 695454.89859653, 695513.26291775,
       695478.67157357, 695462.5421381 , 695560.94369002, 695506.66825012,
       695531.23482466, 695552.63894667, 695457.19933463, 695461.77562697,
       695461.2707973 , 695444.50065053, 695538.00870434, 695457.9896516 ,
       695443.93487909, 695503.07952994, 695461.42803237, 695473.50364097,
       695513.35114353, 695444.22174954, 695465.1124085 , 695457.47860736,
       695483.83436695, 695462.6529723 , 695553.52869991, 695530.85263304,
       695456.38501965, 695565.05054144, 695475.05340337, 695480.83228816,
       695508.2540002 , 695499.30843434, 695523.69917724, 695542.86135501,
       695568.11861291, 695472.27222978, 695444.5473622 , 695504.5685688 ,
       695463.95392957, 695578.35582086, 695471.0031216 , 695444.5006574 ,
       695449.57771328, 695480.68562699, 695518.65663733, 695524.18649136,
       695444.02781052, 695461.37088145, 695504.91344067, 695446.42272174,
       695492.44056808, 695482.4693235 , 695444.11969852, 695445.72955253,
       695480.39069363, 695444.19823648, 695444.22174718, 695492.64029447,
       695558.19145299, 695446.42272051, 695515.20065547, 695509.01623318,
       695488.28757383, 695560.03202262, 695506.83025191, 695489.73348341,
       695470.91243756, 695571.74030544, 695544.02448023, 695490.08069854,
       695479.33855986, 695509.54486808, 695444.16204081, 695501.2041725 ,
       695489.13916004, 695578.96114317, 695577.65159   , 695523.11717582,
       695478.10343359, 695473.40303983, 695549.87738083, 695561.61327355,
       695550.03905005, 695505.29688141, 695458.10333078, 695472.49921491,
       695482.93498672, 695476.36132872, 695520.42867451, 695464.33855709,
       695524.3494951 , 695539.03366079, 695457.09092491, 695476.59788048,
       695544.26894199, 695451.90888578, 695453.49611214, 695444.1375293 ,
       695445.46305901, 695498.49930846, 695463.20146284, 695478.10343045,
       695443.97011795, 695448.20392363, 695503.928682  , 695525.24473029,
       695503.64455906, 695461.77020403, 695458.56639218, 695543.674015  ,
       695506.42668098, 695480.49455517, 695513.13609587, 695496.35532512,
       695518.01311046, 695566.99688559, 695575.60866129, 695492.01288895,
       695530.61344707, 695471.77668071, 695561.48705758, 695454.58369676,
       695475.77270182, 695496.75921691, 695557.56701266, 695568.04905203,
       695539.81678136, 695515.51474095, 695455.86805827, 695475.31383932,
       695499.84898952, 695502.47980492, 695453.15235609, 695501.20417118,
       695450.12339791, 695506.6874333 , 695505.08047297, 695487.82288315,
       695444.86246747, 695447.83374901, 695445.29771201, 695476.55609388,
       695496.47525343, 695447.8142542 , 695516.33546057, 695481.40451021,
       695487.65248686, 695473.50363736, 695544.20298653, 695446.36596745,
       695491.2360285 , 695450.98901279, 695452.35415281, 695452.13276152,
       695482.93499027, 695485.42802227, 695453.25604003, 695535.43056821,
       695577.04776461, 695478.10343364, 695443.9207521 , 695559.43921234,
       695467.28780281, 695493.44880927, 695461.53767057, 695444.13753401,
       695446.42272237, 695501.20416543, 695559.85584496, 695561.68884557,
       695519.8229949 , 695501.20416759, 695493.16682055, 695553.80022959,
       695444.43787005, 695500.88017762, 695444.02781142, 695461.20302953,
       695532.55686507, 695449.83136782, 695499.26215955, 695453.18419864,
       695506.6682488 , 695460.55823934, 695450.96236714, 695523.95002076,
       695485.55139705, 695501.59539462, 695541.76205628, 695494.22912961,
       695446.20247355, 695459.71535581, 695450.80296142, 695489.27076328,
       695479.37680878, 695524.70242381, 695566.2284418 , 695462.44569424,
       695485.03094765, 695453.50286067, 695465.46215075, 695532.84926386,
       695556.59415334, 695513.80334619, 695515.74612908, 695501.66879783,
       695505.80120388, 695465.64377309, 695507.36318802, 695525.87547075,
       695554.71780257, 695513.60202747, 695473.50363913, 695473.50363606,
       695462.75099574, 695474.57352583, 695499.84899422, 695447.19137519,
       695578.9667397 , 695462.34926116, 695483.36776153, 695548.81248518,
       695443.98255308, 695497.16372658, 695475.77269881, 695483.12757   ,
       695463.72854305])

In [328]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pre)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 1145147735257.2446

RANDOM FORSET has the highest accuracy