PREDICT PRICE OF USED CARS

data collection

In [54]:
import pandas as pd
df = pd.read_csv("used_car_dataset.csv")
df

,car_name,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,₹ 4.45 Lakh,"22,402 km",Petrol,Mumbai,2016
1,Maruti Suzuki Alto 800 Lxi,₹ 2.93 Lakh,"10,344 km",Petrol,Kolkata,2019
2,Tata Safari XZ Plus New,₹ 22.49 Lakh,"12,999 km",Diesel,Bangalore,2021
3,Maruti Suzuki Ciaz ZXI+,₹ 6.95 Lakh,"45,000 km",Petrol,Thane,2016
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],₹ 12 Lakh,"11,193 km",Petrol,Kolkata,2019
...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,₹ 3.6 Lakh,"42,158 km",Diesel,Kolkata,2015
2101,MINI Cooper Countryman Cooper D,₹ 22 Lakh,"68,862 km",Diesel,Hyderabad,2013
2102,Hyundai Verna 1.6 VTVT SX,₹ 8.38 Lakh,"37,622 km",Petrol,Chennai,2018
2103,Maruti Suzuki Ciaz VXi+ AT,₹ 6.75 Lakh,"64,726 km",Petrol,Mumbai,2017
2104,Hyundai Verna 1.6 VTVT SX,₹ 8.76 Lakh,"29,150 km",Petrol,Pune,2017

In [55]:
df["car_price_in_rupees"].value_counts()

₹ 4.75 Lakh     23
₹ 4.25 Lakh     20
₹ 6.5 Lakh      20
₹ 4.5 Lakh      18
₹ 6.75 Lakh     18
                ..
₹ 6.52 Lakh      1
₹ 9.31 Lakh      1
₹ 9.54 Lakh      1
₹ 12.13 Lakh     1
₹ 8.76 Lakh      1
Name: car_price_in_rupees, Length: 811, dtype: int64

data preprocessing

In [56]:
def price_to_num(x):
    parts = x.split()
    
    if len(parts) <2:
        return None
    
    try:
        val = float(parts[1].replace(",",""))
    except ValueError:
        return None
    
    
    if 'Lakh' in parts:
        return val * 100000  
    elif 'Crore' in parts:
        return val * 10000000  
    else:
        return int(val)

In [57]:
# converting price to number
df["car_price_in_num"] = df["car_price_in_rupees"].apply(price_to_num)
df = df.drop("car_price_in_rupees",axis="columns")

In [58]:
df

,car_name,kms_driven,fuel_type,city,year_of_manufacture,car_price_in_num
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,"22,402 km",Petrol,Mumbai,2016,445000.0
1,Maruti Suzuki Alto 800 Lxi,"10,344 km",Petrol,Kolkata,2019,293000.0
2,Tata Safari XZ Plus New,"12,999 km",Diesel,Bangalore,2021,2249000.0
3,Maruti Suzuki Ciaz ZXI+,"45,000 km",Petrol,Thane,2016,695000.0
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],"11,193 km",Petrol,Kolkata,2019,1200000.0
...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,"42,158 km",Diesel,Kolkata,2015,360000.0
2101,MINI Cooper Countryman Cooper D,"68,862 km",Diesel,Hyderabad,2013,2200000.0
2102,Hyundai Verna 1.6 VTVT SX,"37,622 km",Petrol,Chennai,2018,838000.0
2103,Maruti Suzuki Ciaz VXi+ AT,"64,726 km",Petrol,Mumbai,2017,675000.0
2104,Hyundai Verna 1.6 VTVT SX,"29,150 km",Petrol,Pune,2017,876000.0

In [59]:
def con_km(x):
    km = x.split()
    val = float(km[0].replace(",",""))
    return val

In [60]:
# convert km to number
df["driven_Km"] = df["kms_driven"].apply(con_km)
df.drop("kms_driven",axis="columns")

,car_name,fuel_type,city,year_of_manufacture,car_price_in_num,driven_Km
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,Petrol,Mumbai,2016,445000.0,22402.0
1,Maruti Suzuki Alto 800 Lxi,Petrol,Kolkata,2019,293000.0,10344.0
2,Tata Safari XZ Plus New,Diesel,Bangalore,2021,2249000.0,12999.0
3,Maruti Suzuki Ciaz ZXI+,Petrol,Thane,2016,695000.0,45000.0
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],Petrol,Kolkata,2019,1200000.0,11193.0
...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,Diesel,Kolkata,2015,360000.0,42158.0
2101,MINI Cooper Countryman Cooper D,Diesel,Hyderabad,2013,2200000.0,68862.0
2102,Hyundai Verna 1.6 VTVT SX,Petrol,Chennai,2018,838000.0,37622.0
2103,Maruti Suzuki Ciaz VXi+ AT,Petrol,Mumbai,2017,675000.0,64726.0
2104,Hyundai Verna 1.6 VTVT SX,Petrol,Pune,2017,876000.0,29150.0

In [61]:
df["fuel_type"].unique()

array(['Petrol', 'Diesel', 'Diesel + 1', 'Electric', 'CNG', 'Petrol + 1',
       'Hybrid', 'LPG'], dtype=object)

In [62]:
df["city"].unique()

array(['Mumbai', 'Kolkata', 'Bangalore', 'Thane', 'Chennai', 'Ahmedabad',
       'Pallikarnai', 'Hyderabad', 'Pune', 'Gurgaon', 'Delhi', 'Noida',
       'Faridabad', 'Thiruvallur', 'Ambattur', 'Poonamallee'],
      dtype=object)

In [63]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["fuel_type"] = le.fit_transform(df["fuel_type"])
df["city"] = le.fit_transform(df["city"])
df

,car_name,kms_driven,fuel_type,city,year_of_manufacture,car_price_in_num,driven_Km
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,"22,402 km",6,9,2016,445000.0,22402.0
1,Maruti Suzuki Alto 800 Lxi,"10,344 km",6,8,2019,293000.0,10344.0
2,Tata Safari XZ Plus New,"12,999 km",1,2,2021,2249000.0,12999.0
3,Maruti Suzuki Ciaz ZXI+,"45,000 km",6,14,2016,695000.0,45000.0
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],"11,193 km",6,8,2019,1200000.0,11193.0
...,...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,"42,158 km",1,8,2015,360000.0,42158.0
2101,MINI Cooper Countryman Cooper D,"68,862 km",1,7,2013,2200000.0,68862.0
2102,Hyundai Verna 1.6 VTVT SX,"37,622 km",6,3,2018,838000.0,37622.0
2103,Maruti Suzuki Ciaz VXi+ AT,"64,726 km",6,9,2017,675000.0,64726.0
2104,Hyundai Verna 1.6 VTVT SX,"29,150 km",6,13,2017,876000.0,29150.0

In [64]:
df = df.drop("kms_driven", axis="columns")

In [65]:
df

,car_name,fuel_type,city,year_of_manufacture,car_price_in_num,driven_Km
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,6,9,2016,445000.0,22402.0
1,Maruti Suzuki Alto 800 Lxi,6,8,2019,293000.0,10344.0
2,Tata Safari XZ Plus New,1,2,2021,2249000.0,12999.0
3,Maruti Suzuki Ciaz ZXI+,6,14,2016,695000.0,45000.0
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],6,8,2019,1200000.0,11193.0
...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,1,8,2015,360000.0,42158.0
2101,MINI Cooper Countryman Cooper D,1,7,2013,2200000.0,68862.0
2102,Hyundai Verna 1.6 VTVT SX,6,3,2018,838000.0,37622.0
2103,Maruti Suzuki Ciaz VXi+ AT,6,9,2017,675000.0,64726.0
2104,Hyundai Verna 1.6 VTVT SX,6,13,2017,876000.0,29150.0

In [66]:
count_car = df["car_name"].value_counts()
count_car

Maruti Suzuki Wagon R 1.0 VXI        25
Maruti Suzuki Alto 800 Lxi           23
Maruti Suzuki Wagon R 1.0 LXI CNG    21
Maruti Suzuki Baleno Delta 1.2       18
Honda City V                         17
                                     ..
Ford Fiesta Exi 1.6 Duratec Ltd       1
Renault Triber RXZ                    1
BMW 7 Series 730Ld                    1
Nissan Sunny XL D                     1
Maruti Suzuki Ciaz VXi+ AT            1
Name: car_name, Length: 946, dtype: int64

In [67]:
def car_name_short(x):
    words = x.split()
    result = ' '.join(words[:4])
    return result

In [68]:
# reducing car name to reduce complexity
df["car_name"] = df["car_name"].apply(car_name_short)

In [69]:
count_car = df["car_name"].value_counts()
count_car

Maruti Suzuki Wagon R       92
Maruti Suzuki Alto 800      51
Hyundai Elite i20 Asta      46
Maruti Suzuki Swift VXi     40
Hyundai Grand i10 Magna     38
                            ..
Renault Duster RXZ 1.3       1
Tata Zest XM 75              1
Nissan Sunny XL CVT          1
Chevrolet Beat LS Diesel     1
Maruti Suzuki Ciaz VXi+      1
Name: car_name, Length: 603, dtype: int64

In [70]:
df.head()

,car_name,fuel_type,city,year_of_manufacture,car_price_in_num,driven_Km
0,Hyundai Grand i10 Magna,6,9,2016,445000.0,22402.0
1,Maruti Suzuki Alto 800,6,8,2019,293000.0,10344.0
2,Tata Safari XZ Plus,1,2,2021,2249000.0,12999.0
3,Maruti Suzuki Ciaz ZXI+,6,14,2016,695000.0,45000.0
4,Jeep Compass Sport Plus,6,8,2019,1200000.0,11193.0

In [71]:
df["car_name"] = le.fit_transform(df["car_name"])

In [72]:
df

,car_name,fuel_type,city,year_of_manufacture,car_price_in_num,driven_Km
0,178,6,9,2016,445000.0,22402.0
1,318,6,8,2019,293000.0,10344.0
2,508,1,2,2021,2249000.0,12999.0
3,337,6,14,2016,695000.0,45000.0
4,246,6,8,2019,1200000.0,11193.0
...,...,...,...,...,...,...
2100,84,1,8,2015,360000.0,42158.0
2101,279,1,7,2013,2200000.0,68862.0
2102,202,6,3,2018,838000.0,37622.0
2103,335,6,9,2017,675000.0,64726.0
2104,202,6,13,2017,876000.0,29150.0

feature selection

In [73]:
x = df[["car_name","fuel_type","city","year_of_manufacture","driven_Km"]]
x

      car_name  fuel_type  city  year_of_manufacture  driven_Km
0          178          6     9                 2016    22402.0
1          318          6     8                 2019    10344.0
2          508          1     2                 2021    12999.0
3          337          6    14                 2016    45000.0
4          246          6     8                 2019    11193.0
...        ...        ...   ...                  ...        ...
2100        84          1     8                 2015    42158.0
2101       279          1     7                 2013    68862.0
2102       202          6     3                 2018    37622.0
2103       335          6     9                 2017    64726.0
2104       202          6    13                 2017    29150.0

[2105 rows x 5 columns]

In [74]:
y = df["car_price_in_num"]
y

0        445000.0
1        293000.0
2       2249000.0
3        695000.0
4       1200000.0
          ...
2100     360000.0
2101    2200000.0
2102     838000.0
2103     675000.0
2104     876000.0
Name: car_price_in_num, Length: 2105, dtype: float64

LINEAR REGRESSION

data splitting

In [75]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

model selection

In [76]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

model training

In [77]:
linear = LinearRegression()
linear.fit(x_train,y_train)
linear.score(x_test,y_test)

0.009750268196941692

evaluate model

In [78]:
score = cross_val_score(LinearRegression(),x,y,cv=5)
score.mean()

0.09796973471224932

In [79]:
#random subset

from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=LinearRegression(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.17208030636948735

DECISION TREE

model selection

In [80]:
from sklearn.tree import DecisionTreeRegressor
dtree = DecisionTreeRegressor()

model training

In [81]:
dtree.fit(x_train,y_train)

DecisionTreeRegressor()

evaluate model

In [82]:
dtree.score(x_test,y_test)

0.22892050668210362

In [83]:
score = cross_val_score(DecisionTreeRegressor(),x,y,cv=5)
score.mean()

0.27881775749069637

In [84]:
from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=DecisionTreeRegressor(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.6003861437629133

RANDOM FORSET

model selection

In [85]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

model training

In [86]:
rf.fit(x_train,y_train)

RandomForestRegressor()

evaluate model

In [87]:
rf.score(x_test,y_test)

0.6188408023392982

In [88]:
score = cross_val_score(RandomForestRegressor(),x,y,cv=5)
score.mean()

0.6234040760748798

In [89]:
from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=DecisionTreeRegressor(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.6003861437629133

KNN

model selection

In [90]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=100)

model training

In [91]:
knn.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=100)

evaluate model

In [92]:
knn.score(x_test,y_test)

0.011585342807216792

In [93]:
score = cross_val_score(KNeighborsRegressor(n_neighbors=100),x,y,cv=5)
score.mean()

0.01285751450807473

In [94]:
from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=KNeighborsRegressor(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

-0.062448525449533276

SVR

model selection

In [95]:
from sklearn.svm import SVR
svm = SVR()

model training

In [96]:
svm.fit(x_train,y_train)

SVR()

evaluate model

In [97]:
svm.score(x_test,y_test)

-0.09584626478932523

In [98]:
score = cross_val_score(SVR(),x,y,cv=5)
score.mean()

-0.10653581784533421

In [99]:
from sklearn.ensemble import BaggingRegressor
bag_model = BaggingRegressor(
    estimator=SVR(),
    n_estimators=100,# 100 subsets from actual data 
    max_samples= 0.8,
    oob_score=True,
    random_state= 0    
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

-0.10997421524483353

RANDOM FORSET has the highest accuracy